{
    "server": "your-vps.example.com",
    "server_port": 8388,
    "local_address": "0.0.0.0",
    "local_port": 1080,
    "password": "REPLACE_WITH_BASE64_PSK",
    "timeout": 300,
    "method": "2022-blake3-chacha20-poly1305"
}
